*{
    font-family: cursive;
    font-size: 20px;
}
#list{
    color: darkgreen;

}
.list1{
    color: brown;
}
.ul1{
    background-color: aqua;
    color: bisque;
    width: 30%;
    padding: 25px;
    margin: 25px;
    border: 5px coral;
    border-radius: 10px;
    transition: 0.5 ease-in-out;
}
.ul1:hover{
    background-color: black;
    border: 2px solid crimson;
}
.ul1 ol li{
    font-size: 30px;
    font-weight: 700;
}
